.footer {
  background: black;
  padding: 40px 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.footer h3 {
  margin-bottom: 15px;
}

.footer p {
  font-size: 14px;
  color: #bbb;
  margin-bottom: 8px;
}
